<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>БС</title>
</head>
<body>
<h1>Базовые станции</h1>

<div class="Statistics-info">
    <div class="Statistics-block"><span class="Statistics-amount" id="totalSites"></span><span class="Statistics-title">sites</span>
    </div>
    <div class="Statistics-block"><span class="Statistics-amount" id="totalPages"></span><span class="Statistics-title">pages</span>
    </div>
    <div class="Statistics-block"><span class="Statistics-amount" id="totalLemmas"></span><span class="Statistics-title">lemmas</span>
    </div>
</div>

</body>
</html>